html, body {
  font-family: "Inter Tight", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-clip { overflow: hidden; }
.navbar-brand .bi { font-size: 1.25rem; line-height: 1; }

/* Ajustes suaves para la demo */
body { background-color: #fafafa; }
.badge.bg-success-subtle { background:#e9f7ef; color:#157347; }
.badge.bg-secondary-subtle { background:#f0f1f5; color:#495057; }
.card { border: 0; border-radius: 1rem; }

@media (min-width: 992px) {
  .card { border-radius: 1rem; }
}


/* HEATMAP — versión “fuerte” para validar (luego lo bajamos si querés) 
td.heat-pos-1 { background-color: rgba(25,135,84,0.25) !important; }  
td.heat-pos-2 { background-color: rgba(25,135,84,0.40) !important; }  
td.heat-neg-1 { background-color: rgba(220,53,69,0.25) !important; }  
td.heat-neg-2 { background-color: rgba(220,53,69,0.40) !important; }  
*/
/* Que el hover no tape el heatmap 
.table-hover tbody tr:hover > td.heat-pos-1,
.table-hover tbody tr:hover > td.heat-pos-2,
.table-hover tbody tr:hover > td.heat-neg-1,
.table-hover tbody tr:hover > td.heat-neg-2 {
  background-color: inherit !important;
}

*/

/* Pill de estado en navbar */
#svc-indicator {
  line-height: 1;          /* evita extra espacio vertical */
}
